<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    <!-- interpolation uses {{}}-->
    <!-- Interpolation can evaluate an expression. Try something
      like:  {{title + "AND OTHER STUFF!"}} -->
    Welcome to {{ title}}
  </h1>
</div>

<!-- This is the place where our app-hero-list html fragment will
be inserted. You can see this because we are using its selector.
This is ALSO called a component directive. -->
<app-hero-list></app-hero-list>

<!-- A directive is a CUSTOM html fragment of code -->

